body {
  background-color: black;
}

header {
  background-color: orange;
  display: flex;
}

#centerColumn {
  background-color: white;
  width: 800px;
  margin: auto;
}

.description {
  display: none;
}